master: salt.infra.xvnet.eu.org
master_finger: 'c5:95:0f:88:ad:3e:d1:d0:7d:e2:03:9b:ec:78:61:a8:9c:4c:f7:da:32:3b:f2:87:ba:70:d1:68:64:7b:08:20'

# ipv6: False
id: {{ salt_id }}

top_file: 'top.sls'
startup_states: 'highstate'