:root {
    color-scheme: light dark;
    --color-body-bg: #fcfcfc;
    --color-text: #333333;
    --color-link: #6d8af2;
    --color-button-text: var(--color-text);
    --color-button-bg: #0062cc;
    --color-button-outline: #61a3ea9e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-body-bg: #121212;
        --color-text: #cccccc;
    }
}

body {
    color: var(--color-text);
    background-color: var(--color-body-bg);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 60em;
    padding: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.25em 0 0.5em 0;
    line-height: 1.2;
}

h1 a:empty:before,
h2 a:empty:before,
h3 a:empty:before,
h4 a:empty:before,
h5 a:empty:before,
h6 a:empty:before {
    content: "#";
}
h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
    visibility: hidden;
    padding-left: 0.25em;
}
h1:hover a:empty,
h2:hover a:empty,
h3:hover a:empty,
h4:hover a:empty,
h5:hover a:empty,
h6:hover a:empty {
    visibility: visible;
}
img {
    max-width: 100%;
}
figure {
    margin: 1em 0;
    text-align: center;
}
figcaption {
    font-size: small;
}
pre,
code,
samp,
kbd {
    font-family: monospace, monospace;
}
pre,
code,
kbd {
    color: #050;
}
samp {
    color: #730;
}
pre,
blockquote {
    background: #eee;
    padding: 0.5em;
}
pre {
    overflow: auto;
}
blockquote {
    border-left: medium solid #ccc;
    margin: 1em 0;
}
blockquote :first-child {
    margin-top: 0;
}
blockquote :last-child {
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
}
th,
td {
    border: thin solid #999;
    padding: 0.3em 0.4em;
    text-align: left;
}

ul.hlist {
    display: inline-flex;
    padding: 0;
}
ul.hlist li {
    display: inline;
}
ul.hlist li::marker {
    content: none;
}
ul.hlist:not(.hlist-buttons) li:not(:last-child)::after {
    content: "|";
    padding-left: 0.25em;
    padding-right: 0.25em;
}
ul.hlist-buttons li {
    padding: 0 0.28em;
}

a:not(.button):link,
a:not(.button):visited,
a:not(.button):active,
a:not(.button):link:hover {
    color: var(--color-link);
}
a:not(.button):focus {
    outline: solid 2px var(--outline-color-progressive--focus, #36c);
}

.button {
    text-decoration: none;
    color: var(--color-button-text);
    width: 12em;
    display: inline-block;
    background-color: var(--color-button-bg);
}
.button:focus {
    outline: solid var(--color-button-outline) 0.1em;
}

#nav {
    padding: 1em 0.5em 0.5em 0.5em;
    display: flex;
}

#nav > #nav-logo {
    margin: 0;
    flex-grow: 1;
}

#nav > #nav-logo a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
}

#nav > #nav-user {
    margin: 0;
}
